USE [master]
GO
/****** Object:  Database [MikhunaEcuador.Models.MikhunaDB]    Script Date: 20/6/2023 16:23:52 ******/
CREATE DATABASE [MikhunaEcuador.Models.MikhunaDB]

GO

USE [MikhunaEcuador.Models.MikhunaDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 20/6/2023 16:23:52 ******/


CREATE TABLE Calificacions(
	[CalificacionID] [int] IDENTITY(1,1) NOT NULL,
	[NumeroEstrellas] [real] NOT NULL,
	[RecetaID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Calificacions] PRIMARY KEY CLUSTERED 
(
	[CalificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE Comentarios(
	[ComentarioID] [int] IDENTITY(1,1) NOT NULL,
	[Contenido] [nvarchar](max) NULL,
	[RecetaID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Comentarios] PRIMARY KEY CLUSTERED 
(
	[ComentarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE Favoritos(
	[FavoritosID] [int] IDENTITY(1,1) NOT NULL,
	[RecetaID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Favoritos] PRIMARY KEY CLUSTERED 
(
	[FavoritosID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE Ingredientes(
	[IngredienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Unidad] [nvarchar](50) NOT NULL,
	[RecetaID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Ingredientes] PRIMARY KEY CLUSTERED 
(
	[IngredienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE Pasos(
	[PasosID] [int] IDENTITY(1,1) NOT NULL,
	[Paso] [nvarchar](1000) NOT NULL,
	[RecetaID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Pasos] PRIMARY KEY CLUSTERED 
(
	[PasosID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE Recetas(
	[RecetaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Duracion] [real] NOT NULL,
	[UrlImagen] [nvarchar](400) NULL,
	[CalificacionPromedio] [real] NOT NULL,
 CONSTRAINT [PK_dbo.Recetas] PRIMARY KEY CLUSTERED 
(
	[RecetaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE RecetasTerminadas(
	[RecetaTerminadaID] [int] IDENTITY(1,1) NOT NULL,
	[RecetaID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RecetasTerminadas] PRIMARY KEY CLUSTERED 
(
	[RecetaTerminadaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE Usuarios(
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[NickName] [nvarchar](50) NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
	[Clave] [nvarchar](30) NOT NULL,
	[Nivel] [int] NOT NULL,
	[Imagen] [nvarchar](400) NULL,
 CONSTRAINT [PK_dbo.Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecetaID]    Script Date: 20/6/2023 16:23:52 ******/
CREATE NONCLUSTERED INDEX [IX_RecetaID] ON Calificacions
(
	[RecetaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsuarioID]    Script Date: 20/6/2023 16:23:52 ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioID] ON Calificacions
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecetaID]    Script Date: 20/6/2023 16:23:52 ******/
CREATE NONCLUSTERED INDEX [IX_RecetaID] ON Comentarios
(
	[RecetaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsuarioID]    Script Date: 20/6/2023 16:23:52 ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioID] ON Comentarios
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecetaID]    Script Date: 20/6/2023 16:23:52 ******/
CREATE NONCLUSTERED INDEX [IX_RecetaID] ON Favoritos
(
	[RecetaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsuarioID]    Script Date: 20/6/2023 16:23:52 ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioID] ON Favoritos
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecetaID]    Script Date: 20/6/2023 16:23:52 ******/
CREATE NONCLUSTERED INDEX [IX_RecetaID] ON Ingredientes
(
	[RecetaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecetaID]    Script Date: 20/6/2023 16:23:52 ******/
CREATE NONCLUSTERED INDEX [IX_RecetaID] ON Pasos
(
	[RecetaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecetaID]    Script Date: 20/6/2023 16:23:52 ******/
CREATE NONCLUSTERED INDEX [IX_RecetaID] ON RecetasTerminadas
(
	[RecetaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsuarioID]    Script Date: 20/6/2023 16:23:52 ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioID] ON RecetasTerminadas
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE Calificacions  WITH CHECK ADD  CONSTRAINT [FK_dbo.Calificacions_dbo.Recetas_RecetaID] FOREIGN KEY([RecetaID])
REFERENCES Recetas ([RecetaID])
GO
ALTER TABLE Calificacions CHECK CONSTRAINT [FK_dbo.Calificacions_dbo.Recetas_RecetaID]
GO
ALTER TABLE Calificacions  WITH CHECK ADD  CONSTRAINT [FK_dbo.Calificacions_dbo.Usuarios_UsuarioID] FOREIGN KEY([UsuarioID])
REFERENCES Usuarios ([UsuarioID])
GO
ALTER TABLE Calificacions CHECK CONSTRAINT [FK_dbo.Calificacions_dbo.Usuarios_UsuarioID]
GO
ALTER TABLE Comentarios  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comentarios_dbo.Recetas_RecetaID] FOREIGN KEY([RecetaID])
REFERENCES Recetas ([RecetaID])
GO
ALTER TABLE Comentarios CHECK CONSTRAINT [FK_dbo.Comentarios_dbo.Recetas_RecetaID]
GO
ALTER TABLE Comentarios WITH CHECK ADD  CONSTRAINT [FK_dbo.Comentarios_dbo.Usuarios_UsuarioID] FOREIGN KEY([UsuarioID])
REFERENCES Usuarios ([UsuarioID])
GO
ALTER TABLE Comentarios CHECK CONSTRAINT [FK_dbo.Comentarios_dbo.Usuarios_UsuarioID]
GO
ALTER TABLE Favoritos  WITH CHECK ADD  CONSTRAINT [FK_dbo.Favoritos_dbo.Recetas_RecetaID] FOREIGN KEY([RecetaID])
REFERENCES Recetas ([RecetaID])
GO
ALTER TABLE Favoritos CHECK CONSTRAINT [FK_dbo.Favoritos_dbo.Recetas_RecetaID]
GO
ALTER TABLE Favoritos  WITH CHECK ADD  CONSTRAINT [FK_dbo.Favoritos_dbo.Usuarios_UsuarioID] FOREIGN KEY([UsuarioID])
REFERENCES Usuarios ([UsuarioID])
GO
ALTER TABLE Favoritos CHECK CONSTRAINT [FK_dbo.Favoritos_dbo.Usuarios_UsuarioID]
GO
ALTER TABLE Ingredientes  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ingredientes_dbo.Recetas_RecetaID] FOREIGN KEY([RecetaID])
REFERENCES Recetas ([RecetaID])
GO
ALTER TABLE Ingredientes CHECK CONSTRAINT [FK_dbo.Ingredientes_dbo.Recetas_RecetaID]
GO
ALTER TABLE Pasos  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pasos_dbo.Recetas_RecetaID] FOREIGN KEY([RecetaID])
REFERENCES Recetas ([RecetaID])
GO
ALTER TABLE Pasos CHECK CONSTRAINT [FK_dbo.Pasos_dbo.Recetas_RecetaID]
GO
ALTER TABLE RecetasTerminadas  WITH CHECK ADD  CONSTRAINT [FK_dbo.RecetasTerminadas_dbo.Recetas_RecetaID] FOREIGN KEY([RecetaID])
REFERENCES Recetas ([RecetaID])
GO
ALTER TABLE RecetasTerminadas CHECK CONSTRAINT [FK_dbo.RecetasTerminadas_dbo.Recetas_RecetaID]
GO
ALTER TABLE RecetasTerminadas  WITH CHECK ADD  CONSTRAINT [FK_dbo.RecetasTerminadas_dbo.Usuarios_UsuarioID] FOREIGN KEY([UsuarioID])
REFERENCES Usuarios ([UsuarioID])
GO
ALTER TABLE RecetasTerminadas CHECK CONSTRAINT [FK_dbo.RecetasTerminadas_dbo.Usuarios_UsuarioID]
GO
USE [master]
GO
